---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Aviso legal">
  <Container>
    <div class="min-h-[calc(50vh-8rem)] flex items-center justify-left">
      <div class="mt-8 text-left">
        <h1 class="text-4xl md:text-5xl font-bold lg:tracking-tight">Aviso legal</h1>
        <p class="text-lg mt-4 text-slate-600">Identidad, Transparencia, Legal</p>
        <h2 class="font-medium text-2xl text-gray-800">01 TITULAR DEL SITIO WEB</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
Razón Social: Ariel Conde Manyoses

NIF: 77122487Z

Denominación comercial: Regeneralia

Domicilio fiscal: C. Mayor, 59, 31001 Pamplona, Navarra

Contacto: info@regeneralia.com


La presente información regula las condiciones de uso, las limitaciones de responsabilidad y las obligaciones que los usuarios de la página Web que se publica bajo el nombre del dominio www.regeneralia.com las cuales los usuarios asumen y se comprometen a respetar.
</p>

<h2 class="font-medium text-2xl text-gray-800">02 COOKIES</h2>
<p class="text-lg leading-relaxed text-slate-500 mt-3">www.regeneralia.com utiliza cookies para facilitar la navegación por dicho portal y para obtener una mayor eficacia y personalización de los servicios ofrecidos a los usuarios. Las cookies empleadas en www.regeneralia.com se asocian únicamente con un usuario anónimo y su ordenador, no proporcionan referencias que permitan deducir el nombre y apellidos del usuario y no pueden leer datos de su disco duro ni incluir virus en sus equipos. Asimismo, www.regeneralia.com no puede leer las cookies implantadas en el disco duro del usuario desde otros servidores.

El usuario puede libremente decidir acerca de la implantación o no en su disco duro de las cookies empleadas en www.regeneralia.com. En este sentido, el usuario puede configurar su navegador para aceptar o rechazar por defecto todas las cookies o para recibir un aviso en pantalla de la recepción de cada cookie y decidir en ese momento su implantación o no en su disco duro. Para ello le sugerimos consultar la sección de ayuda de su navegador para saber cómo cambiar la configuración que actualmente emplea. Aun cuando el usuario configurase su navegador para rechazar todas las cookies o rechazase expresamente las cookies de www.regeneralia.com podrá navegar por el portal con el único inconveniente de no poder disfrutar de las funcionalidades del portal que requieran la instalación de alguna de ellas. En cualquier caso, el usuario podrá eliminar las cookies de www.regeneralia.com implantadas en su disco duro en cualquier momento, siguiendo el procedimiento establecido en la sección de ayuda de su navegador o entrando en el enlace Política de Cookies de este sitio web.</p>
<h2 class="font-medium text-2xl text-gray-800">03 POLÍTICA DE ENLACES</h2>
<p class="text-lg leading-relaxed text-slate-500 mt-3">En caso de que se introduzca por un usuario de Internet un enlace desde su propio Sitio Web al Sitio Web de Regeneralia, el enlace únicamente vinculará con la página principal de éste último, pero no podrá reproducirla de ninguna forma, y, en caso de que se visualicen los contenidos del Sitio Web con contenidos ajenos al mismo, estos contenidos ajenos no podrán inducir a error, confusión o engaño en los Usuarios sobre la procedencia de sus contenidos, ni suponer un acto de comparación o imitación desleal o un aprovechamiento de la reputación de Regeneralia.

No se realizará desde la página que introduce el enlace ningún tipo de manifestación falsa o inexacta sobre Regeneralia, Empresas Asociadas, colaboradores o empleados, ni se indicará en dicha página que tienen el consentimiento de Regeneralia para la inserción del enlace, o que Regeneralia tiene alguna relación o colaboración con dicha página.

Salvo en los casos permitidos por la ley o expresamente autorizados por Regeneralia, siempre que se permita un enlace directo con su Sitio Web, queda prohibida la utilización de cualquier marca o cualquier otro signo distintivo de Regeneralia dentro de la página donde se encuentre el enlace, salvo que se autorice expresamente.

La página que establezca el enlace deberá cumplir con la ley y no disponer o enlazar con contenidos ilícitos o contrarios a la moral y a las buenas costumbres.

Por su parte, el propio Sitio Web incluye dispositivos técnicos de enlace que permiten al Usuario acceder a otras páginas y portales de Internet, actuando Regeneralia como prestador de servicios de intermediación de conformidad con el artículo 17 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, por lo que sólo será responsable de los contenidos y servicios suministrados en los sitios enlazados en caso de que habiendo tenido conocimiento efectivo, en la forma prevista por la Ley de Servicios de la Sociedad de la Información, de la ilicitud no haya desactivado el enlace.

La existencia de sitios enlazados no supone que existan acuerdos con los responsables o titulares de los mismos, y Regeneralia no se hace responsable por los daños producidos por la ilicitud, calidad, desactualización, indisponibilidad, error e inutilidad de los contenidos de dichos sitios, puesto que los desconoce. En cualquier caso, si el Usuario tuviera conocimiento de que los sitios enlazados remiten a páginas cuyos contenidos o servicios son ilícitos o contrarios a la moral deberá ponerlo en conocimiento de Regeneralia.

A estos efectos se habilita la dirección de correo electrónico info@regeneralia.com, de esta forma, los usuarios deberán comunicar: nombre, dirección, número de teléfono y dirección de correo electrónico, especificación de la supuesta actividad ilícita llevada a cabo en el Portal y hechos o circunstancias que revelan el carácter ilícito de dicha actividad.</p>
<h2 class="font-medium text-2xl text-gray-800">04 CONDICIONES DE USO</h2>
<p class="text-lg leading-relaxed text-slate-500 mt-3">La utilización de la página otorga la utilización de usuario e implica la aceptación de las condiciones del aviso legal, política de privacidad y condiciones de uso, si el usuario no estuviera conforme, se abstendrá de utilizar la página. El usuario está obligado y se compromete a utilizar la página y los contenidos de conformidad con la legislación vigente, el Aviso Legal, y cualquier otro aviso contenido en esta página, así como con las normas de convivencia, la moral y buenas costumbres generalmente aceptadas.

El Usuario se obliga y se compromete a no transmitir, difundir o poner a disposición de terceros cualquier contenido de la Página, tales como informaciones, textos, datos, contenidos, mensajes, gráficos, dibujos, archivos de sonido y/o imagen, fotografías, grabaciones, software, logotipos, marcas, iconos, tecnología, fotografías, software, enlaces, diseño gráfico y códigos fuente, o cualquier otro material al que tuviera acceso en su condición de Usuario de la Página, sin que esta enumeración tenga carácter limitativo.</p>
<h2 class="font-medium text-2xl text-gray-800">05 PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
<p class="text-lg leading-relaxed text-slate-500 mt-3">Todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en la página son propiedad de Regeneralia o, en su caso, de terceros que han autorizado su uso, sin que pueda entenderse que el uso o acceso al portal y/o a los contenidos atribuya al usuario derecho alguno sobre las citadas marcas, nombres comerciales y/o signos distintivos, y sin que puedan entenderse cedidos al usuario, ninguno de los derechos de explotación que existen o puedan existir sobre dichos contenidos. Y no entiende cedidos ni se autoriza su utilización, en ningún caso, a los usuarios de la página salvo que se obtengan dichos derechos por escrito del legítimo titular de los mismos.</p>
<h2 class="font-medium text-2xl text-gray-800">06 REDES SOCIALES OFICIALES</h2>
<p class="text-lg leading-relaxed text-slate-500 mt-3">El prestador de servicios de las páginas oficiales de Regeneralia en las rede social Linkedin, es la entidad Regeneralia (en adelante Regeneralia) con NIF 77122487Z y domicilio social en C. Mayor, 59, 31001 Pamplona, Navarra y mismo domicilio a efecto de notificaciones.

El acceso y uso de estas páginas requiere de la aceptación de las condiciones generales de uso de la red social y la política de privacidad que más abajo se detalla y se completa con la política y las normas de las plataformas de red social de Linkedin.

Para cualquier consulta o contacto con Regeneralia los usuarios podrán comunicarse a través del número de teléfono 698 977 236 o de la siguiente dirección electrónica: info@Regeneralia.es</p>
<h2 class="font-medium text-2xl text-gray-800">07 EXENCIÓN DE RESPONSABILIDADES</h2>
<p class="text-lg leading-relaxed text-slate-500 mt-3">Regeneralia incluye en su Sitio Web una serie de contenidos sobre sus actividades, productos, estructura, gestión y equipos propios de una Web corporativa. Regeneralia excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que pudieran derivarse del acceso a los contenidos, informaciones, publicidad, opciones, conceptos e imágenes facilitados a los usuarios.

En cualquier caso, Regeneralia no se hace responsable de:
- El mal que el usuario pueda realizar del Sitio Web.
- La continuidad de los contenidos de la Sitio Web.
- La ausencia de virus y/o demás componentes dañinos en el Sitio Web o en el servidor que los suministra, tanto en lo relativo a la visualización de los contenidos por los usuarios como en la descarga de los mismos.
- Los contenidos y servicios prestados por otros Sitios Web a las que pueda tener acceso desde las direcciones de Internet titularidad de Regeneralia.
- El mayor o menor rendimiento de los contenidos albergados en el Sitio Web.
- Los daños o perjuicios que causare cualquier persona, bien a si misma o a terceras, que infringiera las condiciones, normas e instrucciones que Regeneralia establece en este Sitio Web.
- Los daños ocasionados por la vulneración de los sistemas de seguridad del Sitio Web titularidad de Regeneralia.
- El mal funcionamiento de software o “plugins” (descarga que pudiere realizarse desde el link establecido al efecto), que pudiera ser necesario para la visualización o escucha de determinados contenidos albergados en el presente Sitio Web.
- Cualquier acción o actuación que pudiere realizar en relación con la vulneración de derechos de terceros, especialmente, con relación a la imagen, propiedad intelectual o industrial.
- De la edición, revisión, censura y verificación de los contenidos de las páginas o Sitios de Internet con los que el usuario se conecte a través del motor de búsqueda o de hipervínculos incluidos en el Sitio Web de Regeneralia.

Exención de responsabilidad por el funcionamiento de la Página Web

Regeneralia presta sus servicios y contenidos de forma continuada empleando todos los medios técnicos a su alcance para realizar dicha prestación de forma satisfactoria.

Regeneralia podrá, cuando lo considere conveniente, realizar correcciones, mejoras o modificaciones en la información contenida en su Sitio Web, sin que ello de lugar, ni derecho a ninguna reclamación o indemnización, ni implique reconocimiento de responsabilidad alguna.

Regeneralia no se hace responsable por los daños y perjuicios de toda naturaleza que pudieran derivarse de la disponibilidad y continuidad técnica del funcionamiento de su Sitio Web. En cualquier caso, Regeneralia, llevará a cabo todas las actuaciones necesarias para restablecer sus servicios en caso de fallo técnico.</p>
<h2 class="font-medium text-2xl text-gray-800">08 LEGISLACIÓN Y JURISDICCIÓN</h2>
<p class="text-lg leading-relaxed text-slate-500 mt-3">Regeneralia se reserva la facultad de presentar las acciones civiles o penales que considere oportunas por la utilización indebida de su sitio web y contenidos, o por el incumplimiento de las presentes condiciones.

En caso de existir discrepancia entre lo establecido en el presente Aviso Legal y las Condiciones Particulares de cada servicio específico, prevalecerá lo dispuesto en éstas últimas.

En el caso de que cualquier disposición o disposiciones contenidas en el presente Aviso Legal fueran consideradas nulas o inaplicables, en su totalidad o en parte, por cualquier Juzgado, Tribunal u órgano administrativo competente, dicha nulidad o inaplicación no afectará al resto de disposiciones del presente Aviso Legal ni a las Condiciones Particulares de los diferentes servicios del presente Sitio Web.

El no ejercicio o ejecución, por parte de Regeneralia de cualquier derecho o disposición contenido en estas Condiciones Generales no constituirá una renuncia al mismo, salvo reconocimiento y acuerdo escrito por su parte.

La relación entre el usuario y el prestador se regirá por la normativa vigente y de aplicación en el territorio español. De surgir cualquier controversia las partes podrán someter sus conflictos a arbitraje o acudir a la jurisdicción ordinaria cumpliendo con las normas sobre jurisdicción y competencia al respecto. Regeneralia tiene su domicilio en Pamplona, España.
</p>
      </div>
    </div>
  </Container>
</Layout>
