---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Aviso legal">
  <Container>
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-left">
      <div class="mt-16 text-left">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Aviso legal</h1>
        <p class="text-lg mt-4 text-slate-600">Identidad, Transparencia, Legal</p>
        <h2 class="font-medium text-2xl text-gray-800">01 TITULAR DEL SITIO WEB</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
Raz칩n Social: Ariel Conde Manyoses

NIF: 77122487Z

Denominaci칩n comercial: Regeneralia

Domicilio fiscal: C. Mayor, 59, 31001 Pamplona, Navarra

Contacto: info@regeneralia.com


La presente informaci칩n regula las condiciones de uso, las limitaciones de responsabilidad y las obligaciones que los usuarios de la p치gina Web que se publica bajo el nombre del dominio www.regeneralia.com las cuales los usuarios asumen y se comprometen a respetar.
</p>
      </div>
    </div>
  </Container>
</Layout>
