<footer class="my-20">
  <p class="text-left text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Regeneralia.
  </p>
<p class="text-left text-sm text-slate-500">
<a
      href="/politica-de-privacidad/
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Politica de privacidad
    </a>  </p>
  <p class="text-left text-xs text-slate-500 mt-1">
    Made with <3 <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Astro
    </a>
  </p>
</footer>
