<div class="max-w-screen-xl mx-auto px-5">
  <main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 border-t-2 border-black">
    <div class="col-span-12 lg:col-span-4">
      <div class="mb-2"><a href="/" class="font-bold text-xl inline-block">Regeneralia</a></div>
      <div class="flex gap-1 text-muted text-sm">
        <a href="/index" class="text-muted dark:text-gray-400 duration-150 ease-in-out hover:text-gray-700 hover:underline transition">Misión y Valores</a> ·
        <a href="/servicios" class="text-muted dark:text-gray-400 duration-150 ease-in-out hover:text-gray-700 hover:underline transition">Servicios</a> ·
        <a href="/impacto" class="text-muted dark:text-gray-400 duration-150 ease-in-out hover:text-gray-700 hover:underline transition">Valoración gratuita</a>
      </div>
    </div>
    <div class="col-span-6 lg:col-span-2 md:col-span-3">
      <div class="mb-2 dark:text-gray-300 font-medium">Páginas legales</div>
      <ul class="text-sm">
        <li class="mb-2"><a href="#" class="text-muted dark:text-gray-400 duration-150 ease-in-out hover:text-gray-700 hover:underline transition">Aviso legal</a></li>
        <li class="mb-2"><a href="#" class="text-muted dark:text-gray-400 duration-150 ease-in-out hover:text-gray-700 hover:underline transition">Términos de uso</a></li>
        <li class="mb-2"><a href="#" class="text-muted dark:text-gray-400 duration-150 ease-in-out hover:text-gray-700 hover:underline transition">Política de cookies</a></li>
      </ul>
    </div>
  </main>
</div>
