<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Regeneralia.
  </p>
  <p class="text-center text-sm text-slate-700">
    <a
      href="/aviso-legal/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Aviso legal
    </a>
  </p>
  <p class="text-center text-sm text-slate-700">
    <a
      href="/politica-de-privacidad/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Politica de privacidad
    </a>
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Astro
    </a>
  </p>
</footer>
