<footer class="mt-8 text-left">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Regeneralia.
  </p>
  <p class="text-center text-sm text-slate-700" style="display: inline-block;>
    <a href="/aviso-legal/" target="_blank" rel="noopener" class="hover:underline">
      Aviso legal
    </a>
  </p>
  <p class="text-center text-sm text-slate-700" style="display: inline-block; margin-left: 10px;>
    <a href="/politica-de-privacidad/" target="_blank" rel="noopener" class="hover:underline">
      Política de privacidad
    </a>
  </p>
    <p class="text-center text-sm text-slate-700" style="display: inline-block; margin-left: 10px;>
    <a href="/politica-de-cookies/" target="_blank" rel="noopener" class="hover:underline">
      Política de cookies
    </a>
  </p>
   <p class="text-center text-sm text-slate-700" style="display: inline-block; margin-left: 10px;>
    <a href="/politica-de-euro/" target="_blank" rel="noopener" class="hover:underline">
      Política de cookies EU
    </a>
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a href="https://astro.build/" target="_blank" rel="noopener" class="hover:underline">
      Astro
    </a>
  </p>
</footer>
