<footer class="my-20">
  <p class="text-center text-sm text-slate-500" style="display: inline-block;>
    Copyright © {new Date().getFullYear()} Regeneralia.
  </p>
  <p class="text-center text-sm text-slate-700" style="display: inline-block;>
  <p>
    Made with <a href="https://astro.build/" target="_blank" rel="noopener" class="hover:underline">
      Hola
    </a>
  </p>
   <p>
    Made with <a href="https://astro.build/" target="_blank" rel="noopener" class="hover:underline">
      Cara
    </a>
  </p>
    <p>
    Made with <a href="https://astro.build/" target="_blank" rel="noopener" class="hover:underline">
      Cola
    </a>
  </p>
 </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made with <a href="https://astro.build/" target="_blank" rel="noopener" class="hover:underline">
      Astro
    </a>
  </p>
</footer>
